<div class="row contacts-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>Автор : Вася Пупкин</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>Телефон : +380502903329</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>Область : Одесская</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>Город : Мухосранск</p>
    </div>
    <div class="col-xs-12 contacts-map-container">
        GOOGLE KARTA
    </div>
</div>