<div class="row fix-row-margin-left">
    <label for="" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-xxs-12 control-label fixed-margin-div">
        {{_.ADD_PHOTO}}
    </label>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-xxs-12 fixed-div-textarea">
        <div class="row">
            <ul class="list-inline fix-margin-for-upload-ul">
                <li ng-repeat="(key, file) in files" class="fix-post-img-align">
                    <div class="advert-block-upload-img">
                        <div class="process"
                             ng-init="uploadClass[key] = 'loading'"
                             ng-class="uploadClass[key]"
                             ng-style="uploadStyle[key]"
                        ></div>

                    </div>
                </li>
            </ul>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="advert-block-upload-new"
                     ng-hide="files.length >= 10"
                     ngf-select
                     ngf-drop
                     ngf-change="upload($newFiles, $invalidFiles,$index)"
                     ng-model="files"
                     ngf-multiple="true"
                     ngf-drag-over-class="drag_over"
                     ngf-max-files="10"
                     ngf-keep="'distinct'"
                     ngf-capture="'camera'"
                     name="file"
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-max-size="20MB"
                     ngf-min-height="400"
                     ngf-min-width="400"
                ></div>
            </div>
        </div>

    </div>
</div>

