<div class="row filter-block-row">
    <div class="col-lg-4 text-right small">{{_.ADD_PHOTO}}</div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-6" style="line-height: 110px;" ng-repeat="file in files">
                <div class="advert-block-upload-img">
                    <img ngf-thumbnail="file" ngf-size="{ width: 150, height: 100, quality: 1}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="advert-block-upload-new" ngf-select ngf-multiple="true" ng-model="files" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>