config/local.js

node_modules
assets/vendor
post_store
!/home/alex/work/caric_spa/node_modules/skipper-gridfs/node_modules/bson/ext/index.js
.tmp
dump.rdb

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
