block styles
link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="/styles/addgrid.css")
link(rel="stylesheet", href="/styles/font-awesome.min.css")
link(rel="stylesheet", href="/styles/importer.css")
link(rel="stylesheet", href="/styles/styles.css")
block body
  div(class="site_wrap")
    div(class="main_slider_wrap")
      div(class="row")
        div(class="container")
          div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12 text-center")
            h1 Page not found
            h1 Страница не найдена
            h1 Сторiнка не знайдена
            a(class="btn btn-orange btn-lg", href="/") НА ГЛАВНУЮ

