extends ./layout


block body
  div(class="site_wrap")
    div(ng-include="'view/header.html'")
    div(data-ng-view="")

    div(class="modal-shadow" ng-if="modalStatus.shadow" ng-click="modalLoginOpenSwitcher()")
      div(ng-class="modalWindowClass")
        div(ng-if="modalStatus.reg_auth.open" class="modal-dialog")
          div(class="modal-content" ng-click="$event.stopPropagation()")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal") &times;
              h4(class="modal-title") Modal Header
            div(class="modal-body") Some text in the modal

            div(class="modal-footer") footer

  div(class="footer_wrap")
    div(class="container")
      div(class="row")
        div(class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-xxs-12")
        div(class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-xxs-12")
        div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12")
        div(class="bot_cont") Carick.com. Все права защищены 2016.

  div(class="spinnerFullBlock" id="spinner")
    div


