extends ./layout


block body
  div(class="site_wrap")
    div(ng-include="'view/header.html'")
    div(data-ng-view="")
      div(class="cont")
        h2 Невидимка
        hr
        p.
          Этот блок виден перед загрузкой приложения,
          или если отключены js

    div(ng-include="'view/modal.html'")


