<div class="panel panel-login no-margin-bottom">
    <!-- Navigation -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <a ng-click="modelLoginSwitch('login')">{{_.LOGIN}}</a>
            </div>
            <div class="col-xs-6">
                <a ng-click="modelLoginSwitch('register')">{{_.REGISTRATION}}</a>
            </div>
        </div>
    </div>
    <!-- Navigation END-->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <!-- Login -->
                <form ng-show="reg_auth.login.open" name="login">
                    <div class="form-group">
                        <input
                                type="email"
                                name="email"
                                required
                                min-chars-length="5"
                                ng-model="form.login.email"
                                ng-model="email"
                                class="form-control"
                                placeholder="{{_.EMAIL}}"
                                value="">
                    </div>
                    <div class="form-group">
                        <input
                                type="password"
                                name="password"
                                required
                                min-chars-length="6"
                                ng-model="form.login.password"
                                ng-model="password"
                                class="form-control"
                                placeholder="{{_.PASSWORD}}">
                    </div>
                    <div class="form-group text-center">
                        <input type="checkbox" id="remember" ng-model="tatus.form.login.remember">
                        <label for="remember">{{_.REMEMBER_ME}}</label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input
                                        type="submit"
                                        ng-click="loginFormFunction('login')"
                                        class="form-control btn btn-orange"
                                        ng-disabled="login.password.$valid == false || login.email.$valid == false"
                                        value="{{_.ENTER}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <a ng-click="modelLoginForgot('open')" class="forgot-password">{{_.FORGOT_PASSWORD}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="reg_auth.forgot.open">
                        {{_.FORGOT_PASSWORD_TEXT}}
                        <div class="form-group">
                            <input class="form-control" ng-model="tatus.form.forgot.email" placeholder="{{_.EMAIL}}" value="">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" ng-click="loginFormFunction('forgot')" class="form-control btn btn-orange" value="{{_.RECOLLECT}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="error-log-block"></div>
                    </div>
                </form>
                <!-- Login END -->

                <!-- Registration -->
                <form ng-show="reg_auth.register.open" name="registration" >
                    <div class="form-group">
                        <input
                                type="text"
                                name="username"
                                ng-model="form.register.username"
                                ng-model="username"
                                required
                                min-chars-length="3"
                                class="form-control"
                                placeholder="{{_.USERNAME}}"
                                value="">
                        <i ng-if="registration.username.$valid" class="fa fa-check-square-o" aria-hidden="true"></i>
                        <i ng-hide="registration.username.$untouched"  ng-if="form.register.username.$invalid" class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        <input
                                type="email"
                                name="email"
                                ng-model="form.register.email"
                                ng-model="email"
                                required
                                min-chars-length="5"
                                class="form-control"
                                placeholder="{{_.EMAIL}}"
                                value="">
                        <i ng-if="registration.email.$valid" class="fa fa-check-square-o" aria-hidden="true"></i>
                        <i ng-hide="registration.email.$untouched"  ng-if="registration.email.$invalid" class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        <input
                                type="password"
                                name="password"
                                ng-model="form.register.password"
                                ng-model="password"
                                required
                                min-chars-length="6"
                                class="form-control"
                                placeholder="{{_.PASSWORD}}">
                        <i ng-if="registration.password.$valid" class="fa fa-check-square-o" aria-hidden="true"></i>
                        <i ng-hide="registration.password.$untouched" ng-if="registration.password.$invalid" class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        <input
                                type="password"
                                name="confirmPassword"
                                ng-model="form.register.confirmPassword"
                                ng-model="confirmPassword"
                                required
                                min-chars-length="6"
                                class="form-control"
                                placeholder="{{_.REPEAT}} {{_.PASSWORD}}">
                        <i ng-show="registration.password.$viewValue == registration.confirmPassword.$viewValue" class="fa fa-check-square-o" aria-hidden="true"></i>
                        <i ng-hide="registration.confirmPassword.$untouched" ng-if="registration.password.$viewValue !== registration.confirmPassword.$viewValue" class="fa fa-square-o" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div ng-click="loginFormFunction('register')" class="form-control btn btn-orange">{{_.TO_REGISTER}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="error-reg-block"></div>
                    </div>
                </form>
                <!-- Registration END -->
            </div>
        </div>
    </div>
</div>
