<div class="row additional-info-main-wrapper spaces-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.TYPE}}: {{advertInfo.spacesType}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.MATERIAL}}: {{advertInfo.material}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.CENTER_HOLE}}: {{advertInfo.spacesCenterHole}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.WIDTH}}: {{advertInfo.spacesWidth}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.PCD}}: {{advertInfo.pcdSpacesFrom}} | {{advertInfo.pcdSpacesTo}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.FASTENERS_TYPE}}: {{advertInfo.fastenersType}}</p>
    </div>
</div>