<div class="row additional-info-main-wrapper tyres-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.TYPE}}: {{_[advertInfo.tyreType]}}</p>
    </div>
    <div ng-if="advertInfo.tyreSpeedIndex && advertInfo.tyreSpeedIndex != 'def_select'"  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.SPEED_INDEX}}: {{advertInfo.tyreSpeedIndex}}</p>
    </div>

    <div ng-if="advertInfo.diameter && advertInfo.diameter != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.DIAMETER}}: {{advertInfo.diameter}}</p>
    </div>
    <div ng-if="advertInfo.tyreLoadIndex && advertInfo.tyreLoadIndex != 'def_select'"  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.LOAD_INDEX}}: {{advertInfo.tyreLoadIndex}}</p>
    </div>

    <div ng-if="advertInfo.tyreWidth && advertInfo.tyreWidth != 'def_select'"  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.WIDTH}}: {{advertInfo.tyreWidth}}</p>
    </div>
    <div ng-if="advertInfo.productionYear && advertInfo.productionYear != 'def_select'"  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.PRODUCTION_YEAR}}: {{advertInfo.productionYear}}</p>
    </div>

    <div ng-if="advertInfo.tyreHeight && advertInfo.tyreHeight != 'def_select'"  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.PROFILE_HEIGHT}}: {{advertInfo.tyreHeight}}</p>
    </div>
    <div ng-if="advertInfo.treadRest_1 && advertInfo.treadRest_1 != 'def_select'"  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.RESIDUAL_TREAD}}: {{advertInfo.treadRest_1}}|{{advertInfo.treadRest_2}}</p>
    </div>
  <div ng-if="setting.params.tyreMaker[advertInfo.tyreMaker].key != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.MAKER}}: <a ng-href="#">{{_[setting.params.tyreMaker[advertInfo.tyreMaker].title]}}</a></p>
  </div>

  <div ng-if="advertInfo.tyreModel.title" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.MODEL}}: {{advertInfo.tyreModel.title}}</p>
  </div>
</div>
