<div class="row additional-info-main-wrapper tyres-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.TYPE}}: {{advertInfo.tyreType}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.SPEED_INDEX}}: {{advertInfo.tyreSpeedIndex}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.DIAMETER}}: {{advertInfo.diameter}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.LOAD_INDEX}}: {{advertInfo.tyreLoadIndex}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.WIDTH}}: {{advertInfo.tyreWidth}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.PRODUCTION_YEAR}}: {{advertInfo.productionYear}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.PROFILE_HEIGHT}}: {{advertInfo.tyreHeight}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.RESIDUAL_TREAD}}: {{advertInfo.treadRest_1}}|{{advertInfo.treadRest_2}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.MAKER}}: {{advertInfo.tyreMaker}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.MODEL}}: {{advertInfo.tyreModel.title}}</p>
    </div>
</div>