<div class="row additional-info-main-wrapper wheels-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.TYPE}}: {{advertInfo.wheelType}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.CENTER_HOLE}}: {{advertInfo.centerHole}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.PCD}}: {{advertInfo.pcd}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.MAKER}}: {{advertInfo.wheelMaker}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.QUANTITY}}: {{advertInfo.quantity}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.WIDTH}}: {{advertInfo.wheelWidth}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.OFFSET}}: {{advertInfo.offset}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.DIAMETER}}: {{advertInfo.diameter}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.MODEL}}: {{advertInfo.wheelModel}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.DELIVERY_METHOD}}: {{advertInfo.deliveryMethod}}</p>
    </div>
</div>