<div class="row additional-info-main-wrapper wheels-wrapper">
  <div ng-if="advertInfo.wheelType != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.TYPE}}: {{_[advertInfo.wheelType]}}</p>
  </div>
  <div ng-if="advertInfo.centerHole && advertInfo.centerHole != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.CENTER_HOLE}}: {{advertInfo.centerHole}}</p>
  </div>

  <div ng-if="advertInfo.pcd && advertInfo.pcd != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.PCD}}: {{advertInfo.pcd}}</p>
  </div>
  <div ng-if="setting.params.wheelMaker[advertInfo.wheelMaker].key != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.MAKER}}: <a ng-href="#">{{_[setting.params.wheelMaker[advertInfo.wheelMaker].title]}}</a></p>
  </div>

  <div ng-if="advertInfo.quantity && advertInfo.quantity != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.QUANTITY}}: {{advertInfo.quantity}}</p>
  </div>

  <div ng-if="advertInfo.wheelWidth &&advertInfo.wheelWidth != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.WIDTH}}: {{advertInfo.wheelWidth}}</p>
  </div>

  <div ng-if="advertInfo.offset && advertInfo.offset != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.OFFSET}}: {{advertInfo.offset}}</p>
  </div>
  <div ng-if="advertInfo.diameter != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.DIAMETER}}: {{advertInfo.diameter}}</p>
  </div>

  <div ng-if="advertInfo.wheelModel.title" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <p>{{_.MODEL}}: {{advertInfo.wheelModel.title}}</p>
  </div>
</div>
