<div class="row additional-info-main-wrapper wheels-wrapper">
    <div ng-if="advertInfo.wheelType != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.TYPE}}: {{advertInfo.wheelType}}</p>
    </div>
    <div ng-if="advertInfo.centerHole != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.CENTER_HOLE}}: {{advertInfo.centerHole}}</p>
    </div>

    <div ng-if="advertInfo.pcd != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.PCD}}: {{advertInfo.pcd}}</p>
    </div>
    <div ng-if="advertInfo.wheelMaker != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.MAKER}}: {{advertInfo.wheelMaker}}</p>
    </div>

    <div ng-if="advertInfo.quantity != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.QUANTITY}}: {{advertInfo.quantity}}</p>
    </div>
    <div ng-if="advertInfo.wheelWidth != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.WIDTH}}: {{advertInfo.wheelWidth}}</p>
    </div>

    <div ng-if="advertInfo.offset != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.OFFSET}}: {{advertInfo.offset}}</p>
    </div>
    <div ng-if="advertInfo.diameter != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.DIAMETER}}: {{advertInfo.diameter}}</p>
    </div>

    <div ng-if="advertInfo.wheelModel.title" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.MODEL}}: {{advertInfo.wheelModel.title}}</p>
    </div>
    <div ng-if="advertInfo.deliveryMethod != 'def_select'" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>{{_.DELIVERY_METHOD}}: {{advertInfo.deliveryMethod}}</p>
    </div>
</div>