<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small vcenter">
        Тип:
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optType">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <select class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optWidth">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        Индекс скорости
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small vcenter">
        Диаметр
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <select class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optFixPoint">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <select class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optDiameter">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 small">
        Индекс грузоподьёмности
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small vcenter">
        Ширина
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select ng-model="material" class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optPCD">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <input type="text" class="form-control form-control-sm">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        Год производства
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small vcenter">
        Высота профиля
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <select ng-model="material" class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optMaker">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <div class="row filter-block-row">
            <div class="col-lg-6 col-md-2 col-sm-2 text-right no-margin">
                <input type="text" class="form-control form-control-sm">
            </div>
            <div class="col-lg-6 col-md-2 col-sm-2 text-right no-margin">
                <input type="text" class="form-control form-control-sm">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 small vcenter">
        Остаток протектора
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small vcenter">
        Производитель
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <select ng-model="material" class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optMaker">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <select ng-model="material" class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optMaker">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 small vcenter">
        Модель
    </div>
</div>
