<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 bottom-line-x3">
        <h3>Объявления о продаже дисков</h3>
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small">
        Тип
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optType">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <select class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optWidth">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        Ширина
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small">
        Центральное отверстие
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <input type="text" class="form-control form-control-sm">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <select class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optDiameter">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 small">
        Диаметр
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small">
        Разболтовка
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select ng-model="material" class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optPCD">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <input type="text" class="form-control form-control-sm">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        Вылет
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small">
        Производитель
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <select ng-model="material" class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optMaker">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select ng-model="material" class="form-control form-control-sm">
            <option value="" disabled selected>Выберите</option>
            <option value="{{item.key}}" ng-repeat="item in optModel">{{item.value}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        Модель
    </div>
</div>

