<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small">
        {{_.TYPE}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select ng-model="settingParams.values.wheelType" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item.key}}" ng-repeat="item in settingParams.wheelType">{{_[item.title]}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <select ng-model="settingParams.values.wheelWidth" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item}}" ng-repeat="item in settingParams.wheelWidth">{{item}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        {{_.WIDTH}}
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small">
        {{_.CENTER_HOLE}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <input ng-model="settingParams.values.centerHole" type="text" class="form-control form-control-sm">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <input ng-model="settingParams.values.offset" type="text" class="form-control form-control-sm">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        {{_.OFFSET}}
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small">
        {{_.PCD}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select ng-model="settingParams.values.pcd" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item}}" ng-repeat="item in settingParams.pcd">{{item}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <select  ng-model="settingParams.values.diameter" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item}}" ng-repeat="item in settingParams.diameter">{{item}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 small">
        {{_.DIAMETER}}
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small">
        {{_.MAKER}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <select ng-model="material" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item.key}}" ng-repeat="item in settingParams.wheelMaker">{{_[item.title]}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select ng-model="material" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item.key}}" ng-repeat="item in settingParams.wheelModel">{{_[item.title]}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        {{_.MODEL}}
    </div>
</div>