p Уважаемый #{name}
p Только что вы создали аккаунт на сайте <a href="http://caric.com">caric.com</a>
    |, и теперь можете создавать свои объявления о продаже дисков, шин и проставок.
    | А также оставлять свои комментарии в объявлениях других пользователь, и полноценно пользоваться услугами нашего сервиса.
p Спасибо за то, что вы выбрали нас.
p Команда Caric.com