<div class="container post-background-add" ng-controller="AdvertController">
    <div ng-if="userData.auth == false" class="content_block">
        <div ng-include="'templates/modals/auth.html'"></div>
    </div>
    <div ng-if="userData.auth" class="content_block">
        <div ng-if="advertAddingInProgress">
            <form class="form-horizontal">
            <!---------------- 0 line --------------->
            <div class="row add-padding">
                <div class="col-xs-12">
                    <span class="required">*</span> поля отмеченые звездочкой обязательны к выбору или заполнению
                    кликнув на название поля, вы получите больше информации о параметре
                </div>
            </div>
            <!-- 1 line -->
            <div class="row fix-row-margin-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 control-label">
                        {{_.ADD_ADVERT_PLEASE_TYPE}}<span ng-if="setting.advertAddSettingParams.general.advertType.required" class="required">*</span>
                    </label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <select ng-class="setting.advertAddSettingParams.errorClass.advertType" ng-model="setting.values.advertType" class="form-control">
                            <option value="{{item.key}}" ng-repeat="item in setting.params.advertType" ng-disabled="item.disabled">{{_[item.title]}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-xxs-12 control-label">
                        {{_.PRICE}}<span ng-if="setting.advertAddSettingParams.general.price.required" class="required">*</span>
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-xxs-12">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8 col-xxs-8">
                                <input ng-class="setting.advertAddSettingParams.errorClass.price"  ng-model="setting.values.price" type="text" class="form-control" placeholder="0">
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                <select ng-model="setting.values.currency" class="form-control">
                                    <option value="{{item.key}}" ng-repeat="item in setting.params.currency" ng-disabled="item.disabled">{{_[item.title]}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 line -->
            <div class="row fix-row-margin-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 control-label">
                        {{_.PRICE_FOR}}<span ng-if="setting.advertAddSettingParams.general.priceFor.required" class="required">*</span>
                    </label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <select ng-class="setting.advertAddSettingParams.errorClass.priceFor" ng-model="setting.values.priceFor" class="form-control">
                            <option value="{{item.key}}" ng-repeat="item in setting.params.priceFor" ng-disabled="item.disabled">{{_[item.title]}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-xxs-12 control-label">
                        {{_.QUANTITY}}<span ng-if="setting.advertAddSettingParams.general.quantity.required" class="required">*</span>
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-xxs-12">
                        <select ng-class="setting.advertAddSettingParams.errorClass.quantity" ng-model="setting.values.quantity" class="form-control">
                            <option value="{{item.key}}" ng-repeat="item in setting.params.quantity" ng-disabled="item.disabled">{{_[item.title]}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- line 3 -->
            <div ng-if="setting.values.advertType === 'wheels'"
                 ng-include="'/templates/filters/wheels-filter-block.html'"
            ></div>
            <!-- line 4 -->
            <div ng-if="setting.values.advertType === 'tyres'"
                 ng-include="'/templates/filters/tyres-filter-block.html'"
            ></div>
            <!-- line 5 -->
            <div ng-if="setting.values.advertType === 'spaces'"
                 ng-include="'/templates/filters/spaces-filter-block.html'"
            ></div>
            <!-- line 6 -->
            <div class="row fix-row-margin-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 control-label">
                        {{_.PHONE_NUMBER}} <span ng-if="setting.advertAddSettingParams.general.advertPhoneNumber.required" class="required">*</span>
                    </label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <input ng-class="setting.advertAddSettingParams.errorClass.advertPhoneNumber" type="text" ng-model="setting.values.advertPhoneNumber" class="form-control" placeholder="+3(XXX)XXX-XX-XX">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-xxs-12 control-label">
                        {{_.DELIVERY_METHOD}} <span ng-if="setting.advertAddSettingParams.general.deliveryMethod.required" class="required">*</span>
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-xxs-12">
                        <select ng-class="setting.advertAddSettingParams.errorClass.deliveryMethod" ng-model="setting.values.deliveryMethod" class="form-control">
                            <option value="{{item.key}}" ng-repeat="item in setting.params.deliveryMethod" ng-disabled="item.disable">{{_[item.title]}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- line 7 -->
            <div class="row fix-row-margin-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 control-label">
                        {{_.REGION}} <span ng-if="setting.advertAddSettingParams.general.regions.required" class="required">*</span>
                    </label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <select ng-class="setting.advertAddSettingParams.errorClass.regions" ng-model="setting.values.regions" class="form-control">
                            <option value="{{$index}}" ng-repeat="item in setting.params.regions" ng-disabled="item.disabled">{{_[item.title]}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 form-group">
                    <label for="" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-xxs-12 control-label">
                        {{_.CITY}} <span ng-if="setting.advertAddSettingParams.general.city.required" class="required">*</span>
                    </label>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-xxs-12">
                        <select ng-class="setting.advertAddSettingParams.errorClass.city"
                                ng-model="setting.values.city"
                                ng-disabled="setting.values.regions == 0"
                                class="form-control">
                            <option value="" ng-if="setting.values.regions == 0" disabled>{{_["SELECT_REGION_FIRST"]}}</option>
                            <option value="{{$index}}"
                                    ng-repeat="item in setting.params.regions[setting.values.regions].cities"
                                    ng-disabled="item.disabled">{{_[item.title]}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- line 8 -->
            <div class="row fix-row-margin-left">
                <label for="" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-xxs-12 control-label fixed-margin-div">
                    {{_.DESCRIPTION}}  <span ng-if="setting.advertAddSettingParams.general.advertDescription.required" class="required">*</span>
                </label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-xxs-12 fixed-div-textarea">
                    <textarea ng-model="setting.values.advertDescription" class="form-control "></textarea>
                </div>
            </div>
            <!-- line 9 -->
            <div ng-include="'/templates/post/upload.html'"></div>
            <!-- line 10 -->
            <div class="row fix-row-margin-left add-margin-top-15">
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <div class="btn btn-sm btn-orange" ng-click="advertSubmit()">{{_.ADVERT_SUBBMIT}}</div>
                </div>
            </div>






        <div ng-if="advertAddingInProgress == false">
            <div class="row filter-block-row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h3 ng-class="advertAddingResultClass">{{_[advertAddingResultHead]}}</h3>
                    {{_[advertAddingResultText]}}
                </div>
            </div>
        </div>
        </form>
    </div>

</div>