<div class="gallery_wrap panel-body" id="main_page_logos_div">
    <div class="container" ng-controller="ListController as list">
        <div ng-include="'/templates/filters/pagi-nav-block.html'"></div>
        <div ng-switch on="listType" class="bottom-line">
            <div ng-switch-when="wheels">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 bottom-line-x3">
                        <h3>{{_.WHEELS_ON_SALE}}</h3>
                    </div>
                </div>
                <div class="content_block">
                    <div ng-include="'/templates/filters/wheels-filter-block.html'"></div>
                </div>
            </div>
            <div ng-switch-when="tyres">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 bottom-line-x3">
                        <h3>{{_.TYRES_ON_SALE}}</h3>
                    </div>
                </div>
                <div class="content_block">
                    <div ng-include="'/templates/filters/tyres-filter-block.html'"></div>
                </div>
            </div>
            <div ng-switch-when="spaces">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 bottom-line-x3">
                        <h3>{{_.SPACES_ON_SALE}}</h3>
                    </div>
                </div>
                <div class="content_block">
                    <div ng-include="'/templates/filters/spaces-filter-block.html'"></div>
                </div>
            </div>
        </div>
        {{list.var}}
        {{var}}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2 col-xxs-2 text-center">
                    <div class="logo_block inline main-auto-img" >
                        <a class="21" href="#" title="ешеду"></a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'/templates/filters/pagi-nav-block.html'"></div>
    </div>
</div>