<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small">
        {{_.TYPE}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <select ng-model="settingParams.values.spacesType" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item.key}}" ng-repeat="item in settingParams.spacesType" ng-disabled="item.disable">{{_[item.title]}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <select ng-model="settingParams.values.material" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item.key}}" ng-repeat="item in settingParams.material" ng-disabled="item.disable">{{_[item.title]}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        {{_.MATERIAL}}
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-4 col-sm-3 text-right small">
        {{_.CENTER_HOLE}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" ng-model="settingParams.values.spacesCenterHole" class="form-control form-control-sm">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
        <input type="text" ng-model="settingParams.values.spacesWidth" class="form-control form-control-sm">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 small">
        {{_.WIDTH}}
    </div>
</div>

<div class="row filter-block-row">
    <div class="col-lg-4 col-md-3 col-sm-3 text-right small">
        {{_.PCD}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
        <div class="row" ng-if="settingParams.values.spacesType === 'transitional'">
            <div class="row-price">
                <div class="col-lg-6 col-md-6 col-sm-6 text-right price-left">
                    <select ng-model="settingParams.values.pcdSpacesFrom" class="form-control form-control-sm">
                        <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
                        <option value="{{item}}" ng-repeat="item in settingParams.pcd" ng-disabled="item.disable">{{item}}</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right price-right">
                    <select ng-model="settingParams.values.pcdSpacesTo" class="form-control form-control-sm">
                        <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
                        <option value="{{item}}" ng-repeat="item in settingParams.pcd" ng-disabled="item.disable">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
        <select ng-if="settingParams.values.spacesType !== 'transitional'" ng-model="settingParams.values.pcdSpacesFrom" class="form-control form-control-sm">
                <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
                <option value="{{item}}" ng-repeat="item in settingParams.pcd" ng-disabled="item.disable">{{item}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 text-right">
        <select ng-model="settingParams.values.fastenersType" class="form-control form-control-sm">
            <option ng-if="settingParams.defaultSelected" value="" disabled selected>{{_.PLEASE_SELECT}}</option>
            <option value="{{item.key}}" ng-repeat="item in settingParams.fastenersType" ng-disabled="item.disable">{{_[item.title]}}</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 small">
        {{_.FASTENERS_TYPE}}
    </div>
</div>