<header>
    <nav class="navbar navbar-default no-border-radius no-margin" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 text-xs-center text-xxs-center">
                    <div class="form-group"></div>
                    <div class="inline">
                        <div class="logo h2 no-margin"><a href="/">Carick.com</a></div>
                        <div class="slogan text-right text-uppercase">{{_.LOGO_TAGLINE}}</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 text-right text-xs-center text-xxs-center">
                    <div class="form-group"></div>
                    <button type="button" class="btn btn-sm"  ng-class="localizationButton.ru" ng-click="changelang('ru')">
                        ru
                    </button>
                    <button type="button" class="btn btn-sm" ng-class="localizationButton.ua" ng-click="changelang('ua')">
                        ua
                    </button>
                    <button type="button" class="btn btn-sm" ng-class="localizationButton.en" ng-click="changelang('en')">
                        en
                    </button>

                    <button ng-hide="userData.auth" type="button" class="btn btn-orange btn-lg" ng-click="modalLoginOpenSwitcher('open')">
                        {{_.LOGIN}}/{{_.REGISTRATION}}
                    </button>

                    <div ng-show="userData.auth"  class="btn-group">
                        <a ng-href="/advert/add" id="add-advert" type="button" class="btn btn-orange btn-lg">Подать обьявление</a>
                        <button type="button" class="btn btn-orange btn-lg dropdown-toggle no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="main-menu-disk" src="/images/disk_w.svg" alt="">
                        </button>
                        <ul class="dropdown-menu main-logined-dropdawn">
                            <li><a href="/user">Кабинет</a></li>
                            <li><a href="/user/adverts">Объявления</a></li>
                            <li><a href="/user/messages">Сообщения</a></li>
                            <li><a href="/user/settings">Настройки</a></li>
                            <li><a ng-click="userLogout()" class="logout-user">Выйти</a></li>
                        </ul>
                    </div>

                    <div class="form-group main-logined-dropdawn"></div>
                </div>
            </div>
        </div>
    </nav>
</header>
