<header>
    <nav class="navbar navbar-default no-border-radius no-margin" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 text-xs-center text-xxs-center">
                    <div class="form-group"></div>
                    <div class="inline">
                        <div class="logo h2 no-margin"><a href="/">Carick.com</a></div>
                        <div class="slogan text-right text-uppercase">{{_.LOGO_TAGLINE}}</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12 text-right text-xs-center text-xxs-center">
                    <div class="form-group"></div>
                    <button type="button" class="btn btn-sm"  ng-class="localizationButton.ru" ng-click="changelang('ru')">
                        ru
                    </button>
                    <button type="button" class="btn btn-sm" ng-class="localizationButton.ua" ng-click="changelang('ua')">
                        ua
                    </button>
                    <button type="button" class="btn btn-sm" ng-class="localizationButton.en" ng-click="changelang('en')">
                        en
                    </button>
                    <button type="button" class="btn btn-orange btn-lg" ng-click="modalLoginOpenSwitcher('open')">
                        {{_.LOGIN}}/{{_.REGISTRATION}}
                    </button>
                    <div class="form-group main-logined-dropdawn"></div>
                </div>
            </div>
        </div>
    </nav>
</header>
