<div ng-if="modals.shadow" ng-click="modalLoginOpenSwitcher()" class="modal-shadow">
    <div ng-class="modalWindowClass">
        <div ng-if="modals.window" class="modal-dialog modal-{{modals.size}}">
            <div ng-click="$event.stopPropagation()" class="modal-content">
                <div class="modal-header">
                    <button ng-if="modals.crossButton" type="button" ng-click="modalLoginOpenSwitcher()" class="close">&times;</button>
                    <h4 ng-if="modals.header" class="modal-title">{{_[modals.header]}}</h4>
                </div>
                <i class="fa" ng-class="modals.statusIcon" aria-hidden="true"></i>
                <div ng-include="modals.content" class="modal-body text-left"></div>
                <div ng-if="modals.okButton" class="modal-footer text-center">
                    <button type="button" ng-click="modalLoginOpenSwitcher()" class="btn btn-orange">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>