
<!-- Modal -->
<div ng-class="modalWindowClass">
    <div ng-if="modal.login" class="modal-dialog modal-animation">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modalLoginClose()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="panel panel-login no-margin-bottom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">{{_.LOGIN[lang]}}</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">{{_.REGISTRATION[lang]}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="log-email" tabindex="1" class="form-control" placeholder="{{_.EMAIL[lang]}}" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="log-password" tabindex="2" class="form-control" placeholder="{{_.PASSWORD[lang]}}">
                                    </div>
                                    <!--<div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Запомнить меня</label>
                                    </div>-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-orange" value="{{_.ENTER[lang]}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="javascript:void(0);" tabindex="5" id="forgot-password-link" class="forgot-password">{{_.FORGOT_PASSWORD[lang]}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="error-log-block"></div>
                                    </div>
                                </form>
                                <form id="register-form" action="" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="reg-username" tabindex="1" class="form-control" placeholder="{{_.USERNAME[lang]}}" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="reg-email" tabindex="1" class="form-control" placeholder="{{_.EMAIL[lang]}}" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="reg-password" tabindex="2" class="form-control" placeholder="{{_.PASSWORD[lang]}}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm-password" id="reg-confirm-password" tabindex="2" class="form-control" placeholder="{{_.REPEAT[lang]}} {{_.PASSWORD[lang]}}">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-orange" value="{{_.TO_REGISTER[lang]}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="error-reg-block"></div>
                                    </div>
                                </form>
                                <form id="forgot-form" action="" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="email" name="email" id="fog-email" tabindex="1" class="form-control" placeholder="{{_.EMAIL[lang]}}" value="">
                                    </div>
                                    <div class="form-group" style="display:none;">
                                        <input type="password" name="password" id="fog-password" tabindex="2" class="form-control" placeholder="{{_.PASSWORD[lang]}}">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="forgot-submit" id="forgot-submit" tabindex="4" class="form-control btn btn-orange" value="{{_.SEND[lang]}} {{_.PASSWORD[lang]}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="error-forget-block"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->



<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="Login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">{{_.ALREDY_EXISTS[lang]}}</div>
        </div>
    </div>
</div>